#starB3 {
    
    background-color: darkslategrey;
    margin-left: 25px;
    height: 4px;
    width: 100px;
    
    
}



#starB1 {
    
    background-color: darkslategrey;
    margin-right: 25px;
    height: 4px;
    width: 100px;
    
}

