#star3 {
    
    background-color: white;
    margin-left: 25px;
    height: 4px;
    width: 100px;
    
    
}



#star1 {
    
    background-color: white;
    margin-right: 25px;
    height: 4px;
    width: 100px;
    
}

